<%- include("../partials/header") %>

<h1><%= locals.title %> Supplier Edit Form</h1>

<div>
  <form method="POST" action="/suppliers/edit/<%- supplier.id %>">
    <label for="supplierName">Supplier Name: </label>
    <input type="text" name="supplierName" id="supplierName" value="<%- supplier.name %>">
    <input type="submit" value="Edit Supplier">
  </form>
</div>

<%- include("../partials/footer") %>