<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <% suppliers.forEach(supplier => { %>
    <div>
      <a href="/suppliers/show/<%- supplier.name %>"><%- supplier.name %></a>
    </div>
  <% }); %>
</div>

<br><br><br>
<a href="/suppliers/new" class="btn">Add New Supplier</a>

<%- include("../partials/footer") %>