<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <% suppliers.forEach(supplier => { %>
    <div>
      <div><%- supplier.name %>: <a href="/suppliers/edit/<%- supplier.id %>">Edit Supplier</a></div>
      Filter Products By <a href="/suppliers/show/<%- supplier.name %>"><%- supplier.name %></a>
    </div>
    <br>
  <% }); %>
</div>

<br><br><br>
<a href="/suppliers/new" class="btn">Add New Supplier</a>

<%- include("../partials/footer") %>