<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <% productsBySupplier.forEach(product => { %>
    <div>
      <%- product.name %>,
      <%- product.size %>,
      $<%- product.price %>,
      <%- product.sku %>,
      <%- product.supplier_name %>,
      <a href="/products/show/<%- product.id %>">GO TO</a>
    </div>
  <% }); %>
</div>

<%- include("../partials/footer") %>