<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <form method="POST" action="/inventory/products/edit/<%- product.id %>">
    <input type="hidden" name="productId" value="<%- product.id %>">
    <div class="form-field">
      <label for="productName">Product Name: </label>
      <input type="text" name="productName" id="productName" value="<%- product.name%>" autofocus>
    </div>
    
    <div class="form-field">
      <label for="productSize">Product Size: </label>
      <input type="text" name="productSize" id="productSize" value="<%- product.size %>">
    </div>

    <div class="form-field">
      <label for="productPrice">Product Price: $</label>
      <input type="text" name="productPrice" id="productPrice" value="<%- product.price %>">
    </div>

    <div class="form-field">
      <label for="productSku">Product Sku: </label>
      <input type="text" name="productSku" id="ProductSku" value="<%- product.sku %>">
    </div>

    <div class="form-field">
      <label for="productCategory">Product Category: </label>
      <select name="productCategory" id="productCategory">
        <% categories.forEach(category => { %>
          <option value="<%- category.id %>"><%- category.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="form-field">
      <label for="productSupplier">Product Supplier: </label>
      <select name="productSupplier" id="productSupplier">
        <% suppliers.forEach(supplier => { %>
          <option value="<%- supplier.id %>"><%- supplier.name %></option>
        <% }) %>
      </select>
    </div>

    <input type="submit" value="Edit Product" class="btn btn-green">
  </form>
</div>

<br><br>
<a href="/products/edit/<%- product.id %>" class="btn btn-red">Delete Product</a>

<%- include("../partials/footer") %>