<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<form method="post" action="/inventory/shipment/submit" >
  <div class="shipment-final-details-header">
    <div><label for="shipmentOrderNumber">Shipment Order #: <%- shipmentOrder.number %></label></div>
    <input type="hidden" name="shipmentOrder" value="<%- shipmentOrder.number %>" >
    <div><label for="shipmentSupplier">Supplier: <%- supplier.name %></label></div>
    <input type="hidden" name="supplierId" value="<%- supplier.id %>">
  </div>
  <div class="form-field">
    <label for="shipmentDate">Shipment Date: </label>
    <input type="date" name="shipmentDate" id="shipmentDate" required>
  </div>
  <div class="form-field">
    <label for="shipmentTime">Shipment Time: </label>
    <input type="time" name="shipmentTime" id="shipmentTime" required>
  </div>
  <h5 class="shipment-final-quantity-header">Record Quantity of Products Recieved</h5>
  <% products.forEach(product => { %>
    <div class="form-field">
      <label for="shipmentProductQuantity-<%- product.id %>">
        <%- product.name %>, <%- product.size %>: 
      </label>
      <input type="hidden" name="shipmentProducts[<%- product.id %>][productId]" value="<%- product.id %>">
      <input type="number" name="shipmentProducts[<%- product.id %>][Quantity]" id="shipmentProductQuantity-<%- product.id %>" value="0">
    </div>
  <% }); %>
  <br>

  <label for="shipmentComments">Comments: </label> <br>
  <textarea name="shipmentComments" id="shipmentComments" cols="60" rows="10"></textarea>
  <br>
  <input type="submit" value="Register New Shipment" class="btn btn-green">
</form>

<script src="/javascript/shipmentDetailsForm.js"></script>
<%- include("../partials/footer") %>