<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<% shipments.forEach(shipment => { %>
  <div class="card p-1 mb-4 shadow-sm">
    <div class="d-flex justify-content-between align-items-start mb-2">
      <p class="fw-bold">ID: <%= shipment.id %></p>
      <p class="text-muted">Date: <%= new Date(shipment.shipment_date).toDateString() %></p>
    </div>
    <div class="d-flex justify-content-between align-items-start mb-2">
      <p>Supplier: <%= shipment.supplier_name %></p>
      <p>Arrival Time: <%= shipment.shipment_time %></p>
    </div>
    <a href="/inventory/shipment/<%= shipment.id %>" class="btn btn-green">
      View Shipment
    </a>
  </div>
<% }); %>

<%- include("../partials/footer") %>