<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<form method="POST" action="/inventory/shipments/new" class="shipment-form">
  <div class="shipment-form-supplier">
    <label for="supplierName">Select Supplier: </label>
    <select name="supplierId" id="supplierId">
      <option value=""></option>
      <% suppliers.forEach(supplier => { %>
        <option value="<%- supplier.id %>"><%- supplier.name %></option>
      <% }); %>
    </select>
  </div>

  <div class="shipment-form-products-container" id="shipment-form-products-container">

  </div>

  <input type="submit" value="Click to Finalize Shipment Details" class="btn">
</form>

<script src="/javascript/shipmentNewForm.js"></script>
<%- include("../partials/footer") %>