<%- include("../partials/header") %>

<h1><%= locals.title %> Category Edit Form</h1>

<!-- Needs form validation -->
<div>
  <form method="POST" action="/categories/edit/<%- category.id %>">
    <label for="categoryName">Category Name: </label>
    <input type="text" name="categoryName" id="categoryName" value="<%- category.name %>" autofocus>
    <input type="submit" value="Edit Category" class="btn btn-green">
  </form>
</div>

<%- include("../partials/footer") %>