<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <% categories.forEach(category => { %>
    <div>
      <div><%- category.name %>: <a href="/categories/edit/<%- category.id %>">Edit Category</a></div>
      Filter Products By <a href="/categories/show/<%- category.name %>"><%- category.name %></a>
      
    </div>
    <br>
  <% }); %>
</div>

<br><br><br>
<a href="/categories/new" class="btn">Add New Category</a>

<%- include("../partials/footer") %>