<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div>
  <% categories.forEach(category => { %>
    <div>
      <a href="/categories/show/<%-category.name%>"><%- category.name %></a>
     
    </div>
  <% }); %>
</div>

<%- include("../partials/footer") %>