<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<a href="/categories/new" class="btn btn-primary mb-4">Add New Category</a>

<div>
  <% categories.forEach(category => { %>
    <div class="card p-1 mb-1 shadow-sm">
      <div><%- category.name %>: <a href="/categories/edit/<%- category.id %>">Edit Category</a></div>
      <div>Filter Products By <a href="/categories/show/<%- category.name %>"><%- category.name %></a></div>
    </div>
    <br>
  <% }); %>
</div>

<br><br><br>

<%- include("../partials/footer") %>