<%- include("../partials/header") %>

<h1><%= locals.title %></h1>

<div class="products-item-wrapper">
  <% products.forEach(product => { %>
    <div class="product-item">
      <%- product.name %>,
      <%- product.size %>,
      $<%- product.price %>,
      <%- product.sku %>,
      <%- product.category_name %>,
      <a href="/products/show/<%- product.id %>">GO TO</a>
    </div>
  <% }); %>
</div>

<%- include("../partials/footer") %>